<section class = "main">
    <h1>Albums</h1>
    <div class = "content">
        <div class = "container">
            <div class = "row">

                <div class = "col-lg-12">
                    <div class ="panel panel-default">
                        <button class="btn btn-primary" (click)="onGetAlbums()">Show Albums</button>
                        <div *ngFor="let album of albums">
                            <h4>Album:{{album.title}}</h4>
                            <h4>Year: {{album.year}}</h4>
                            <h4>Songs:<div *ngFor="let track of album.track">
                                <ol>
                                    <li>Artist: {{track.musician}}</li>
                                    <li>Title: {{track.title_track}} </li>
                                    <li>Duration: {{track.duration}}</li>
                                </ol>

                            </div></h4>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
