<section class = "main">
    <h1>Albums</h1>
    <div class = "content">
        <div class = "container">
            <div class = "row">

                <div class = "col-lg-6">
                    <button class="btn btn-primary" (click)="onGetAlbums()">Show Albums</button>
                    <div *ngFor="let album of albums">
                        <h4>Album:{{album.title}}</h4>
                        <h4>Year: {{album.year}}</h4>
                        <hr>
                    </div>
                </div>
                <div class = "col-lg-6">

                    <button class="btn btn-primary" (click)="onGetTracks()">Show Tracks</button>
                    <div *ngFor="let track of tracks">
                        <h5><strong>Album:</strong> {{track.title}}</h5>
                        <h5>Artist: {{track.musician}}</h5>
                        <h5>Track title: {{track.title_track}}</h5>
                        <h5>Duration: {{track.duration}}</h5>
                        <hr>
                    </div>

                </div>




            </div>
        </div>
    </div>
</section>
